.first{
    color: yellow;
    background-color: red;
}
.second{
    color: rgb(11, 222, 92);
    background-color: rgb(12, 14, 166);
}
.third{
    color: rgba(98, 170, 237, 0.644);
    background-color: rgb(255, 14, 223);
}
.fourth{
    color: rgb(255, 106, 0);
    background-color: rgb(5, 255, 213);
}
.fifth{
    color: rgb(28, 0, 169);
    background-color: rgb(200, 0, 255);
}
.sixth{
    color: rgba(255, 0, 0, 0.332);
    background-color: rgb(0, 0, 0);
}